PORT=5000
MONGODB_URI=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLIENT_URL=http://localhost:5173
COMPANY_EMAIL_DOMAIN=<your_company.com>
SMTP_HOST=smtp.your-email-provider.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=notifications@fixmate.com
SMTP_PASS=
SMTP_FROM=FixMate <notifications@fixmate.com>
